.box {
  height: 200px;
  width: 200px;
  overflow: scroll;
  background-color: red;
}

.products--grid {
  display: flex;
  flex-direction: column;
}

.products--grid div img {
  width: 100%;
  border-radius: 10px;
}

.products--grid h2 p{
  margin: 0px;
}

.message-error{
  background-color: red;
  color: white;
  opacity: 0;
  transition: all linear .5s;
  &.invalid{
    opacity: 1;
  }
}

.styles{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.line-error{
  height: 0;
  border-bottom: 1px solid;
  &.invalid{
    border-color: red;
  }
  &.valid{
    border-color: green;
  }
}

@media screen and (min-width: 40em){
  .products--grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px
  }
}

